@model Pannet.Models.User

@using Pannet.DAL;
@using Pannet.Models;

@{
    ViewBag.Title = "导入用户";
    List<Department> departmentList = ViewBag.Departments;
}

<div class="page-content">
    <div class="page-header">
        <h1>
            <span id="lblTitle">用户信息</span>
            <small>
                <i class="icon-double-angle-right"></i>
                <span>导入用户</span>
            </small>
        </h1>
    </div>

    @using (Html.BeginForm("ImportUserSave", "User", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    { 
        @Html.ValidationSummary(true)
        @Html.Raw(ViewBag.MessageInfo)
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <td colspan="2" align="left"><b>导入用户</b></td>
                </tr>
                <tr>
                    <td style="width: 150px;">请选择导入文件(<span style="color: red;">.xls</span>)</td>
                    <td>
                        <input type="file" name="postFile" value="选择文件" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-success"><i class="icon-ok"></i>导入 </button>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
