<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="al:Seller_email" value="test@163.com" />
    <add key="al:Partner" value="2088821737549555" />
    <add key="al:Key" value="el43favdhl2h356p22dcvkpur911ceee" />
    <add key="al:Mainname" value="芝贝微信公众号" />
  </appSettings>
</configuration>