<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="smtp.263.net" />
    <add key="Authentication" value="true" />
    <add key="Sender" value="hejiechao@chinayoubang.com" />
    <add key="User" value="hejiechao@chinayoubang.com" />
    <add key="Password" value="h1ji1chao=2018" />
  </appSettings>
</configuration>