<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="wx:WeixinName" value="迎财神" />
    <add key="wx:AppID" value="wx37d815fddf4a5bcc" />
    <add key="wx:AppSecret" value="92224c0a3a969a98511eb575e9ab8bbb" />
    <add key="wx:Token" value="token" />
    <add key="wx:EncodingAESKey" value="92224c0a3a969a98511eb575e9ba8bbb" />
    <add key="wx:MCHID" value="1487272642" />
    <add key="wx:KEY" value="hrSw27xjOdjo0aGOzyImqxIxrh18Pccc" />
    <add key="wx:TenpayNotify" value="http://www.test.com/wxpay/ResultNotifyPage.aspx" />
  </appSettings>
</configuration>