@model Pannet.Models.Order

@using Pannet.Models
@using Pannet.DAL
@using Pannet.DAL.Repository

@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "支付页面";
}

<!--主区域-->
<div id="container">

    <div id="pay" class="base">
        <dl class="pay_order_success">
            <dt>二维码支付</dt>
            <dd>
                <div class="tips">
                    @if (string.IsNullOrEmpty(ViewBag.QRCodeImage))
                    {
                        <div class="red">参数错误!</div>
                    }
                    else
                    {
                        bool IsPay = OrderService.IsPay(ViewBag.trade_no);
                        <i class="iconfont icon-dizhiguanliyigouxuan"></i>
                        if (IsPay)
                        { 
                        <span>支付成功！</span>
                        }
                        else
                        {

                            if (Pannet.Utility.UtilityClass.IsMobile())
                            {
                        <span>请长按下面二维码完成支付！</span>
                            }
                            else
                            { 
                        <span>请扫描下面二维码完成支付！</span>
                            }
                        <br />
                        <img src="@("/wxpay/MakeQRCode.aspx?data=" + HttpUtility.UrlEncode(ViewBag.QRCodeImage))" />
                        }
                    }
                </div>
                <table border="1">
                    <tr class="tr_th">
                        <td>交易单号</td>
                        <td>交易金额</td>
                    </tr>
                    <tr>
                        <td>@ViewBag.trade_no</td>
                        <td align="center"><span class="red">@(SiteService.GetPrice(ViewBag.total_fee))</span>元</td>
                    </tr>
                </table>

                <div class="center-block" style="text-align: center;">
                    <a href="/Mobile/Member/Order" class="btn btn-success btn-lg">已完成支付</a>
                </div>
            </dd>
        </dl>

    </div>

</div>
<!--/container-->


@section FootJs{

    <script>
        $(function () {
            $(".pay_item").click(function () {
                $(this).addClass("active");
                $(this).siblings().removeClass("active");
            });
            // $(".btn_pay ").click(function () {
            //      location.href = "@Url.Action("Success", "Pay")";
            //  });
        });
    </script>
}
